.header {
    background-color: rgb(58, 11, 75);
    color: floralwhite;
    LETTER-SPACING: 3PX;
    TEXT-ALIGN-LAST: JUSTIFY;
    box-sizing: border-box;
    padding:12px;
}
.container {
    font-weight: bold;
    background-color: aquamarine;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}
#containers{
    width:auto;
    height:auto;
    text-align:center;
    background-color:blanchedalmond;
}
.air_container {
    box-sizing: border-box;
    width:600px ;
    height:fit-content;
    background-color:rgb(216, 210, 210);
    display: inline-table;
    padding: 75px;
}.cargo_container {
    box-sizing: border-box;
    background-color:rgb(216, 210, 210);
    width:600px ;
    height:fit-content;
    display: inline-table;
    padding: 75px;
}.trucks_container {
    box-sizing:border-box;
width:600px;
height:fit-content;
background-color:rgb(216, 210, 210);
display:inline-table;
text-align:center;
padding:75px;
}.train_container {
    box-sizing: border-box;
    background-color:rgb(216, 210, 210);
    width:600px;
    height:fit-content;
    display: inline-table;
    padding: 75px;
}